
<div id="imageid_{{cmid}}_{{nr}}" style="position: absolute;{{!
                }}z-index: 5;{{!
                }}left: {{xposition}}px;{{!
                }}top: {{yposition}}px;{{!
                }}{{#targetwidth}}width: {{.}}px;{{/targetwidth}}{{!
                }}{{#targetheight}}height: {{.}}px;{{/targetheight}}{{!
                }}">
        dddd {{#title}}
            <div class="unilabel-imageboard-title rounded" style="position: absolute;{{!
                }}z-index: 5;{{!
                }}top: calc(-{{fontsize}}px - 10px);{{!
                }}color: {{titlecolor}}; background-color: {{titlebackgroundcolor}};{{!
                }}{{#fontsize}}font-size: {{.}}px;line-height: {{.}}px;padding: 5px;{{/fontsize}}{{!
                }}white-space: nowrap;">
                {{title}}
            </div>
        {{/title}}
        {{#imageurl}}
            <div id="unilabel-imageboard-image-{{cmid}}-{{nr}}" class="unilabel-imageboard-image rounded" style="position: relative;{{!
                }}z-index: 5;{{!
                }}{{#targetwidth}}width: {{.}}px; {{/targetwidth}}{{!
                }}{{#targetheight}}height: {{.}}px; {{/targetheight}}{{!
                }}">
                <img class="rounded" src="{{{.}}}" title="{{title}}" alt="{{title}}" style="{{#targetwidth}}width: 100%; {{/targetwidth}}{{!
                    }}{{#targetheight}}height: 100%; {{/targetheight}}{{!
                    }}{{#border}}border: solid {{.}}px {{titlebackgroundcolor}};{{/border}}{{!
                    }}">
            </div>
        {{/imageurl}}
</div>

