
<div id='unilabel-imageboard-element-{{number}}' draggable='true' class='unilabel-imageboard-element-draggable' style='z-index: 5; position: absolute;'>
    <div id='id_elementtitle-{{number}}' draggable='false' class='unilabel-imageboard-title' style='position: absolute; top: -50px; height: 50px;'>
        Dies wird gleich mit Inhalt gefüllt ...
    </div>
    <div id='imageidimage-{{number}}' draggable='false'>
        <img id='unilabel-imageboard-imageid-{{number}}' draggable='false' class='unilabel-imageboard-image' src='' style='position: relative; background-color: #f00;'>
    </div>
</div>
