
<div id='unilabel-imageboard-element-{{number}}' draggable='true' class='image' style='z-index: 5; position: absolute;'>
    <div id='id_elementtitle-{{number}}' class='unilabel-imageboard-title' style='position: relative; height: 50px;'>
        Dies wird gleich mit Inhalt gefüllt ...
    </div>
    <div id='imageidimage-{{number}}'>
        <img id='unilabel-imageboard-imageid-{{number}}' draggable='false' src='' style='position: relative; background-color: #f00;'>
    </div>
</div>
